* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #001d3d;
  --color-ptag: #000;
  --color-yellow: #ffd500;
  --color-section: #3c6e71;
  --color-btntext: #fff;
  --color-total: #c1121f;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-ptag);
}

h1 {
  color: var(--color-yellow);
}

section {
  text-align: center;
  background-color: var(--color-section);
  max-width: 70%;
  min-height: 200px;
  padding: 25px 50px;
  margin: 50px auto;
  border-radius: 20px;
  transition: all 0.3s ease-out;
}

input {
  width: 40%;
  margin: 16px;
  padding: 15px;
  text-align: center;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
}

button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-inline: auto;
  background: var(--color-yellow);
  color: var(--color-btntext);
  overflow: hidden;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}

button:after {
  content: " ";
  position: absolute;
  width: 0%;
  height: 100%;
  background: var(--color-bg);
  transition: all 0.4s ease-in-out;
  right: 0;
}

button:hover::after {
  left: 0;
  width: 100%;
}

button span {
  text-align: center;
  padding-block: 15px;
  color: var(--color-bg);
  font-size: 1rem;
  font-weight: 700;
  z-index: 1;
}

button:hover span {
  color: var(--color-btntext);
}

.wrapper {
  display: flex;
  justify-content: center;
}

.expenses-wrapper {
  background-color: var(--color-btntext);
  width: 100%;
  min-height: 100px;
  border-radius: 25px;
  margin: 20px;
}

.expenses-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-radius: 25px;
  margin: 20px;
  background-color: var(--color-btntext);
}

.total {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--color-total);
}

.expenses-title {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  border-bottom: 0.5px solid var(--color-bg);
  font-weight: 600;
}

.expenses-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-block: 10px;
}

.expenses-details {
  margin-top: 10px;
}

@media screen and (max-width: 690px) {
  section {
    padding: 15px;
  }

  form {
    text-align: center;
  }
  input {
    width: 80%;
  }
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
}
